* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 5px;
}
.product-View-list {
  display: grid;
}
.product-View-list {
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 100%;
}
