* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 5px;
}
.po_container{
  display: grid;
}
.product-View-list {
  display: flex;
  flex-direction: column;
}
.second-div {
  gap: 20px;
  padding: 20px;
  width: 100%;
}
.first_div img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}
