* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  border-radius: 5px;
}
.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  width: 250px;
  height: 400px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.product-card img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.product-card p {
  font-size: 15px;
}
.product-card h3 {
  font-size: 18px;
}
.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
